.nonProfitContainer {
    border-color: burlywood;
    border-style: solid;
    border-radius: 5px;
    min-height: 150px;
}

.nonProfitName {
	border: black;
    border-width: 2px;
    padding: 20px 15px;
    border-style: solid;
    z-index: 10;
    position: absolute;
    background: burlywood;
    text-align: center;
    margin: 5px;
}

.nonProfitBody {
    display: flex;
}

.nonProfitImage {
    z-index: 1;
}

.nonProfitData {
    display: block;
    width: 100%;
}

.nonProfitContainer > div > img {
    max-height: 250px;
    max-width: 250px;
    padding: 10px;
}

.nonProfitStatus {
    display: flex;
}

.nonProfitStatus > div {
    margin-left: 10px;
    width: 100%;
}

.nonProfitStatus > span {
    margin: 5px;
    margin-right: 20px;
    float: right;
}

.nonProfitInfo {
    display: block;
    margin: 10px;
}

.nonProfitInfo > * {
    margin: 5px;
}

.nonProfitInfo > p {
    margin: 10px;
}
