.profilePage {
	margin: 35px;
    margin-top: 100px;
    background-size: 100% auto
}

.orgName {
    width: 155px;
    z-index: 10;
    position: absolute;
}

.splashScreenBoxImage {
	z-index: 1; 
    margin: 25px 25px 0px 25px;
	width: 100%;
}

.eventDetails {
    width: 100%
}
.eventDescription {
    width: 60%;
    float: left;
    margin-bottom: 25px
}

.panel-heading {
    background-color: seagreen;
    color: white;
}

.dateTimeBox {
    width: 30%;
    margin-left: 70%;
    text-align: center;
    border:1px solid black;
    margin-bottom: 25px
}

.person{
    float: left;
    margin: 25px;
    text-align: center
}




