.navbar-default {
	background-color: steelblue;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar .nav > li > a {
    color: white;
}

.right {
	float: right;
}

li { cursor: pointer; cursor: hand; }

img {
	float: left;
	float: top;
}