h1 {
    color: white;
}

.events-heading {
    width: 100%
}
.events-body {
    width: 100%
}
.orgs-heading {
    width: 100%
}
.orgs-body {
    width: 100%;
}

.wrapper-events {
    margin: 5%;
}

.wrapper-orgs {
    margin: 5%;
}

.panel-heading {
    background-color: seagreen;
    color: white;
}

